.light-mode {
  --background-color: #fff;
  --color: #000;
}

.dark-mode {
  --background-color: #000;
  --color: #fff;
}

* {
  transition: 0.3s;
}

body {
  margin: 50px;
  background-color: var(--background-color);
  color: var(--color);
  padding: 20px;
}

:root {
  background-color: var(--background-color);
  color: var(--color);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
